resources:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: erpc-metadata
      namespace: erpc
      labels:
        app.kubernetes.io/part-of: obol.stack
        obol.stack/id: default
        obol.stack/app: erpc
    data:
      metadata.json: |
        {
          "network": "{{ .Values.network }}",
          "endpoints": {
            "rpc": {
              "external": "http://obol.stack/rpc/{{ .Values.network }}",
              "internal": "http://erpc.erpc.svc.cluster.local/rpc/{{ .Values.network }}"
            }
          }
        }
