# Configuration via CLI flags
# Template fields populated by obol CLI during network installation
values:
  # @enum mainnet
  # @default mainnet
  # @description Blockchain network to deploy
  - network: {{.Network}}
    # @description Attester private key (hex string)
    attesterPrivateKey: {{.AttesterPrivateKey}}
    # @default
    # @description L1 Execution RPC URL (defaults to ERPC: http://erpc.erpc.svc.cluster.local:4000/rpc/{network})
    l1ExecutionUrl: {{.L1ExecutionUrl}}
    # @default https://ethereum-beacon-api.publicnode.com
    # @description L1 Consensus RPC URL
    l1ConsensusUrl: {{.L1ConsensusUrl}}

---

repositories:
  - name: obol
    url: https://obolnetwork.github.io/helm-charts/

releases:
  - name: aztec-sequencer
    namespace: aztec
    createNamespace: true
    chart: obol/aztec-node
    version: 0.2.0
    values:
      - fullnameOverride: 'aztec-sequencer-{{ .Values.network }}'
        role: sequencer
        sequencer:
          attesterPrivateKey: '{{ .Values.attesterPrivateKey }}'
          feeRecipient: "0x0000000000000000000000000000000000000000000000000000000000000000"
        network: '{{ .Values.network }}'
        networkName: '{{ .Values.network }}'
        image:
          repository: aztecprotocol/aztec
          tag: 2.1.5
          pullPolicy: Always
        node:
          replicas: 1
          logLevel: "info"
          startCmd:
            - --node
            - --archiver
            - --sequencer
            - --network
            - '{{ .Values.network }}'
          l1ExecutionUrls:
            - '{{ if .Values.l1ExecutionUrl }}{{ .Values.l1ExecutionUrl }}{{ else }}http://erpc.erpc.svc.cluster.local:4000/rpc/{{ .Values.network }}{{ end }}'
          l1ConsensusUrls:
            - '{{ .Values.l1ConsensusUrl }}'
          resources:
            requests:
              cpu: "4"       
              memory: "16Gi" 
            limits:
              cpu: "8"       
              memory: "32Gi" 
          storage:
            dataDirectory: /data
            dataStoreMapSize: "134217728"  
            worldStateMapSize: "134217728"  
          startupProbe:
            periodSeconds: 60
            failureThreshold: 60
        persistence:
          enabled: true
          size: 1000Gi
          storageClassName: local-path
          accessModes:
            - ReadWriteOnce
          selector: {}
        hostNetwork: true
        service:
          httpPort: 8080
          p2p:
            enabled: true
            nodePortEnabled: false  
            port: 40400
            announcePort: 40400
          admin:
            enabled: true
            port: 8081
